@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Pacifico');

body {
    font-family: pacifico !important;
    margin: 0px;
    font-size: 100%;
}
.boxHeader{
    width: 100%;
    text-align: center;
}
.headerTitle{
    color: #434343;
    margin: 0px;
    font-size: 4em;
    background-color: #e9f6a8;
}
.boxCitation {
    background-color: white;
    color: #BBC695;
    font-family: arial;
    text-align: right;
    padding-right: 1.5em;
    font-style: italic;
}
.navbar-navCustom{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar{
    display: flex;
    flex-direction: column;
    background-color: #cdd2b2;
    align-items: flex-end;
    padding: unset !important;
    width: 100%;
}
.navbar-collapse{
    flex-grow: 1;
}
.navbar-toggler {
    font-size: 1.25em;
    line-height: 0.5 !important;
    color: #434343;
}
.container-fluid{
    justify-content: flex-end !important;
}
img {
    position: absolute;
    left: 0.7rem;
    bottom: 0px;
    height: 90%;
    width: auto;
}
.imgBouton{
    width: 1.5em;
    height: auto;
    position: relative;
    left: 0px;
    margin-right: 0.5%;
}
.containerBouton{
    margin-left: 1.2em;
    padding-bottom: 0.5em;
}
.boxForm{
    background-color: #F3F3F3; 
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border-radius: 5px;
    padding:1em;
    width: 40em;
}
.customBtn{
    display: initial !important;
    background-color: #cdd2b2 !important;
    color: #434343 !important;
    text-align: center !important;
    font-size: 1em !important;
    border-color: white !important;    
}
.BtnValid{
    background-color: #cdd2b2 !important;
    color: #434343 !important;
    font-size: 20px !important;
    border-color: white;
    font-family: pacifico !important;
}
.radio{
    margin-bottom: 0.5em;
}
.img-form{
    width: auto;
    height: 4em;
    position: relative;    
    flex:2;
}
.formHeader{
    font-size: 45px;
    margin-bottom: 0px;
    text-align: center;
}
.valid{
    margin-top: 0.4em;
}
input{
    font-family: arial !important;
}
select{
    font-family: arial !important;
}
table{
    margin-top: 2em;
    text-align: center;
}
.carotteForm{
    background-color: #F3F3F3; 
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border-radius: 7px;
    padding:1em;
    width: 400px;
    height: 180px; 
}
.labelCarotteForm{
    margin: 0em;
    text-align: left;
    font-size: 16px;
}
.boxForm, label {
    font-size: 1.5rem;
}
.noPadding{
    padding:0px !important;
    vertical-align: super;
}
.noMargin{
    margin: auto;
}
.form-control-plaintext{
    text-align: center;
}
.carotteName{
    font-size: 25px;
    font-style: bolt;
}
.icone{
    text-align: center;
    padding-top: 0px;
}
.icone span{
    display:flex;
    font-size: 12px;
    color: #434343;
}
.table td[scope=row] {
    vertical-align: middle;
}
.table th {
    font-size:20px !important;
    background-color: #e9f6a8;
}
.carotteDetailsForm{
    display: flex;
}
.qtyDetails{
    display: flex;
    margin-right: 10rem;    
}
ul{
    align-items: center;
    padding-right: 0.5em;
}

@media (max-width: 600px) {
    img {
        position: absolute;
        left: 0.5rem;
        bottom: 0px;
        height: 70%;
        width: auto;
    }
    .headerTitle{
        font-size: calc(70% + 1vw + 1vh);
    }
    .customBtn{
        font-size: calc(20% + 0.5vw + 0.5vh) !important;
    }
    span{
        font-size: calc(20% + 0.5vw + 0.5vh) !important;
    }
}