@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Pacifico');

body {
    font-family: pacifico !important;
    margin: 0px;
    font-size: 20px;
}
.headerTitle{
    color: #434343;
    text-align: center;
    font-size: 87px;
    margin: 0px;
    background-color: #e9f6a8;
}
.boxHeader {
    width: 2000em;
}
.boxCitation {
    background-color: white;
    color: #BBC695;
    font-family: arial;
    text-align: right;
    padding-right: 2em;
    font-style: italic;
}
.navbar-navCustom{
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar{
    background-color: #cdd2b2;
    padding: unset !important;
}
img {
    width: 280px;
    height: auto;
    position: absolute;
}
.imgBouton{
    width: 1.5em; 
    height: auto;
}
.containerBouton{
    margin-left: 3.5em;
    padding-bottom: 0.5em;
}
.boxForm{
    background-color: #F3F3F3; 
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border-radius: 5px;
    padding:1em;
    width: 40em;
}
.customBtn{
    display: flex !important;
    width: 14em !important;
    background-color: #cdd2b2 !important;
    color: #434343 !important;
    text-align: center !important;
    font-size: 20px !important;
    border-color: white !important;    
}
.BtnValid{
    background-color: #cdd2b2 !important;
    color: #434343 !important;
    font-size: 20px !important;
    border-color: white;
    font-family: pacifico !important;
}
.radio{
    margin-bottom: 0.5em;
}
.img-form{
    width: auto;
    height: 4em;
    position: relative;    
    flex:2;
}
.formHeader{
    font-size: 28px;
    margin-bottom: 0px;
    text-align: center;
}
.valid{
    margin-top: 0.4em;
}
input{
    font-family: arial !important;
}
select{
    font-family: arial !important;
}
table{
    margin-top: 2em;
    text-align: center;
}
.headerRow{
    background-color: #e9f6a8;
}
.carotteForm{
    background-color: #F3F3F3; 
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border-radius: 7px;
    padding:1em;
    width: 400px;
    height: 180px; 
}
.labelCarotteForm{
    margin: 0em;
    text-align: left;
    font-size: 16px;
}
.boxForm, label {
    font-size: 1.5rem;
}
.noPadding{
    padding:0px !important;
}
.noMargin{
    margin: auto;
}
.form-control-plaintext{
    text-align: center;
}
.carotteName{
    font-size: 25px;
    font-style: bolt;
}
.icone{
    text-align: center;
    padding-top: 0px;
}
.icone span{
    display:flex;
    font-size: 12px;
    color: #434343;
}
.table td[scope=row] {
    vertical-align: middle;
}
.carotteDetailsForm{
    display: flex;
}
.qtyDetails{
    display: flex;
    margin-right: 10rem;    
}
#logo{
    margin-top: -18px;
}

