<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="{{ path('home') }}" ><img class=img-responsive id="logo" src={{asset('build/image/personnage/trocTaCarotte_flat.png')}} style=width:20%/></a>
        </div>
        <ul class="nav navbar-navCustom navbar-right">
            <li class="nav-item active">
                <a class="nav-link" href="#"> 
                    <div class="icone">
                        <svg class="bi bi-envelope-fill" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="#434343" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                        </svg>
                        <span>Messagerie</span>
                    </div>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"> 
                    <div class="icone">
                        <svg class="bi bi-heart-fill" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="#434343" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                        </svg>
                        <span>Favoris</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> 
                    <div class="icone">
                        <svg class="bi bi-person-circle" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="#434343" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                        </svg>
                        <span>Connexion</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="boxHeader">
        <p class="headerTitle">Troc ta carotte!</p>  
    </div>
</nav>