<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Troc ta carotte!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="icon" href="{{ asset('build/image/favicon/favicon.ico') }}" type="image/x-icon">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>         
        <header>
            {{ include("/partialTwig/_navBar.html.twig") }}
            <div class="boxCitation">
                <span class="citation">“Tomate : légume très timide - rougit en prenant des formes.”</span>  
            </div>
        </header>
        <main role="main">
            {% block body %}
            {% endblock %}
        </main>
        <footer>
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
