{% extends 'base.html.twig'%}

{% block title 'Nouvelle annonce' %}
{% block body %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="boxForm mt-5">
                <h1 class="formHeader">Moi aussi je troque !<h1>	
                {{ form_start(form) }}
                    <table class="table table-hover">
                        <thead class="headerRow">
                            <tr>
                                <th scope="col">'Carotte' à troquer</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">
                                    <form class="carotteForm noMargin">
                                    <div>
                                        <b class="carotteName">carotte</b>
                                    </div>
                                    <div class="container noPadding">
                                        <div class="row justify-content-md-center">
                                            <div class="col-6">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-6 noPadding">
                                                            <input type="contreCarotte" readonly class="form-control-plaintext form-control-sm noPadding" id="contreCarotte" value= {{ form_row(form.Quantity) }}>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-5 noPadding">
                                                            <label for="contreCarotte" class="col labelCarotteForm noPadding">Bio :</label>
                                                        </div>
                                                        <div class="col-6 noPadding">
                                                            <input type="contreCarotte" readonly class="form-control-plaintext form-control-sm noPadding" id="contreCarotte" value="Oui">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-5 noPadding">
                                                            <label for="contreCarotte" class="col labelCarotteForm noPadding">Où :</label>
                                                        </div>
                                                        <div class="col-6 noPadding">
                                                            <input type="contreCarotte" readonly class="form-control-plaintext form-control-sm noPadding" id="contreCarotte" value="Toulouse">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-check form-check-inline noPadding">
                                                    <img class=img-form src={{asset('build/image/legume/aubergine_flat.png')}} style=width:100%/> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}