{% extends 'base.html.twig'%}

{% block body %}
    <div class="containerBouton">
        <a class="btn btn-primary customBtn" href="#" role="button">
            <img class=imgBouton src={{asset('/img/legume/carotte_flat.png')}} style=width:2%/> 
            <div class="container">
                <span>Je troc ma carotte !</span>
            </div>
        </a>
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            {{ include("search.html.twig") }}
        </div>
    </div>
    <div class="container">
            {{ include("listingTable.html.twig") }}
    </div>

{% endblock %}